body
{
    nav
    {
        height: 8vh;
        background-color: #FFCA41;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 414px;
        position: fixed;
        bottom: 0;
        transform: translate(-50%, 0);
        left: 50%;
        
        .home_button
        {
            background-color: white;
            padding: 8px;
            border-radius: 50px;
            width: 50px;
            height: 50px;
        }
    }
  
    
    
}